MODEL_DECISION_TREE_PATH=
MODEL_NEURAL_NETWORK_PATH= 
FEATURE_SCALER_PATH= 
MODEL_VERSION= 

GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_GENAI_USE_VERTEXAI=True
VIRTUAL_TRY_ON_MODEL="virtual-try-on-001"

CLOTHING_CLASSIFIER_MODEL_PATH=